<div class="row dialog-row-header" >
  <div class="column">
      <div class="input-group">
    <mat-label>Booking List</mat-label>
    </div>
</div>

<div class="column">
  <div class="input-group">
<mat-label>Booking List</mat-label>
</div>
</div>
</div>
<div class="row">
      
  <div class="column column12">
<button id="submit" (click)="getSelectedBooking();" class="submit-btn" >Edit Booking</button>
</div>
</div>
<mat-dialog-content >
  <div class="row error-dialog-row-body">
    <div class="column"> 
        <ag-grid-angular 
style="width: 100%; height: 350px;" 
class="ag-theme-balham"
[rowData]="restDataApiService.bookingListData" 
[pagination]="true"
[paginationPageSize]="10"
[animateRows]="true"
[rowSelection]="single"
(gridReady)="onGridReady($event)"
[columnDefs]="columnDefs">

</ag-grid-angular>
</div>
</div>

</mat-dialog-content>