<mat-grid-list class="menu-grid" cols="13" rowHeight="40px">
  <mat-grid-tile class="menu1">
  
        Reservation 
    
  </mat-grid-tile>
 

  <mat-grid-tile class="menu2">
      Change   Check-In
    </mat-grid-tile>
    
  <mat-grid-tile class="menu3">
    Room Due
  </mat-grid-tile>
  <mat-grid-tile class="menu4">
    
       Room Transfer
    
  </mat-grid-tile>

  <mat-grid-tile class="menu5">
     
    Night Audit
     
    </mat-grid-tile>

    <mat-grid-tile class="menu6">
        
         Shift Close
        
      </mat-grid-tile>

      <mat-grid-tile class="menu7">
         
           Day Collection 
        
        </mat-grid-tile>

        <mat-grid-tile class="menu8">
          
              Police Report
           
          </mat-grid-tile>

          <mat-grid-tile class="menu9">
             
               Room Block
             
            </mat-grid-tile>
            <mat-grid-tile class="menu10">
                
                 Help Line
               
              </mat-grid-tile>
              <mat-grid-tile class="menu11">
                
                   Search Guest
                
                </mat-grid-tile>
                <mat-grid-tile class="menu12">
                 Change Check-Out        
                  </mat-grid-tile>
                  <mat-grid-tile class="menu13">
                     
                       Guest Reg Card
                    
                    </mat-grid-tile>

</mat-grid-list>