<mat-grid-list class="menu-grid" cols="11" rowHeight="70px">
  <mat-grid-tile class="custom-grid-tiles border-color1" >
     
     <div class="item">
              
          <img src="assets/menu/booking.png" class="rounded"/>
         
          <span class="caption">Reservation</span>
      </div>
     
  </mat-grid-tile>

  <mat-grid-tile class="custom-grid-tiles border-color2">
     
     <div class="item">
              
          <img src="assets/menu/room-due.png" class="rounded"/>
         
          <span class="caption">Room Due</span>
      </div>
     
  </mat-grid-tile>


  <mat-grid-tile class="custom-grid-tiles border-color3">
     
     <div class="item">
              
          <img src="assets/menu/room-transfer.png" class="rounded"/>
         
          <span class="caption"> Room Transfer</span>
      </div>
     
  </mat-grid-tile>
  <mat-grid-tile class="custom-grid-tiles" >
     
     <div class="item">
              
          <img src="assets/menu/night-audit.png" class="rounded"/>
         
          <span class="caption">  Night Audit</span>
      </div>
     
  </mat-grid-tile>
  <mat-grid-tile class="custom-grid-tiles">
     
     <div class="item">
              
          <img src="assets/menu/shift-close.png" class="rounded"/>
         
          <span class="caption">  Shift Close</span>
      </div>
     
  </mat-grid-tile>
  <mat-grid-tile class="custom-grid-tiles" >
     
     <div class="item">
              
          <img src="assets/menu/day-collection.png" class="rounded"/>
         
          <span class="caption"> Day Collection </span>
      </div>
     
  </mat-grid-tile>
  <mat-grid-tile class="custom-grid-tiles">
     
     <div class="item">
              
          <img src="assets/menu/police-report.png" class="rounded"/>
         
          <span class="caption"> Police Report</span>
      </div>
     
  </mat-grid-tile>
  <mat-grid-tile class="custom-grid-tiles">
     
     <div class="item">
              
          <img src="assets/menu/room-block.png" class="rounded"/>
         
          <span class="caption">  Room Block</span>
      </div>
     
  </mat-grid-tile>
  <mat-grid-tile class="custom-grid-tiles">
     
     <div class="item">
              
          <img src="assets/menu/help-line.png" class="rounded"/>
         
          <span class="caption"> Help Line</span>
      </div>
     
  </mat-grid-tile>
  <mat-grid-tile class="custom-grid-tiles">
     
     <div class="item">
              
          <img src="assets/menu/search-guest.png" class="rounded"/>
         
          <span class="caption">  Search Guest</span>
      </div>
     
  </mat-grid-tile>
  <mat-grid-tile class="custom-grid-tiles">
     
     <div class="item">
              
          <img src="assets/menu/change-guest.png" class="rounded"/>
         
          <span class="caption">  Guest Reg Card</span>
      </div>
     
  </mat-grid-tile>

<!--     
  <mat-grid-tile class="menu2">
    Room Due
  </mat-grid-tile>
  <mat-grid-tile class="menu3">
    
       Room Transfer
    
  </mat-grid-tile>

  <mat-grid-tile class="menu4">
     
    Night Audit
     
    </mat-grid-tile>

    <mat-grid-tile class="menu5">
        
         Shift Close
        
      </mat-grid-tile>

      <mat-grid-tile class="menu6">
         
           Day Collection 
        
        </mat-grid-tile>

        <mat-grid-tile class="menu7">
          
              Police Report
           
          </mat-grid-tile>

          <mat-grid-tile class="menu8">
             
               Room Block
             
            </mat-grid-tile>
            <mat-grid-tile class="menu2">
                
                 Help Line
               
              </mat-grid-tile>
              <mat-grid-tile class="menu12">
                
                   Search Guest
                
                </mat-grid-tile>
               
                  <mat-grid-tile class="menu13">
                     
                       Guest Reg Card
                    
                    </mat-grid-tile> -->

</mat-grid-list>