.menu-card{
  width: 100%;
  height: 100%;
    background: black;
    color: aliceblue
}
.menu1{
    background:#582A72;
    color:white;
    font-size: 12px;
    font-family: Verdana, Geneva, 'Arial Narrow Bold', sans-serif;
}

.menu2{
    background: #90A437;
    color:white;
    font-size: 12px;
    font-family: Verdana, Geneva, 'Arial Narrow Bold', sans-serif;
}

.menu3{
    background: #AA8E39;
    color:white;
    font-size: 12px;
    font-family: Verdana, Geneva, 'Arial Narrow Bold', sans-serif;
}

.menu4{
    background:#226666;
    color:white;
    font-size: 12px;
    font-family: Verdana, Geneva, 'Arial Narrow Bold', sans-serif;
}

.menu5{
    background:#FF9800;
    color:white;
    font-size: 12px;
    font-family: Verdana, Geneva, 'Arial Narrow Bold', sans-serif;
}

.menu6{
    background:#297A4A;
    color:white;
    font-size: 12px;
    font-family: Verdana, Geneva, 'Arial Narrow Bold', sans-serif;
}

.menu7{
    background:#C51162;
    color:white;
    font-size: 12px;
    font-family: Verdana, Geneva, 'Arial Narrow Bold', sans-serif;
}
.menu8{
    background:#AA7439;
    color:white;
    font-size: 12px;
    font-family: Verdana, Geneva, 'Arial Narrow Bold', sans-serif;
}
.menu9{
    background:#236863;
    color:white;
    font-size: 12px;
    font-family: Verdana, Geneva, 'Arial Narrow Bold', sans-serif;
}
.menu10{
    background:#C51162;
    color:white;
    font-size: 12px;
    font-family: Verdana, Geneva, 'Arial Narrow Bold', sans-serif;
}
.menu11{
    background:#FF9800;
    color:white;
    font-size: 12px;
    font-family: Verdana, Geneva, 'Arial Narrow Bold', sans-serif;
}
.menu12{
    background:#602870;
    color:white;
    font-size: 12px;
    font-family: Verdana, Geneva, 'Arial Narrow Bold', sans-serif;
}
.menu13{
    background:#226666;
    color:white;
    font-size: 12px;
    font-family: Verdana, Geneva, 'Arial Narrow Bold', sans-serif;
}


.menu-grid{
    padding: 1px !important;
    margin: 0px !important;

    
}