<mat-grid-list class="menu-grid" cols="11" rowHeight="40px">
  <mat-grid-tile class="menu1">
  
        Reservation 
    
  </mat-grid-tile>

    
  <mat-grid-tile class="menu2">
    Room Due
  </mat-grid-tile>
  <mat-grid-tile class="menu3">
    
       Room Transfer
    
  </mat-grid-tile>

  <mat-grid-tile class="menu4">
     
    Night Audit
     
    </mat-grid-tile>

    <mat-grid-tile class="menu5">
        
         Shift Close
        
      </mat-grid-tile>

      <mat-grid-tile class="menu6">
         
           Day Collection 
        
        </mat-grid-tile>

        <mat-grid-tile class="menu7">
          
              Police Report
           
          </mat-grid-tile>

          <mat-grid-tile class="menu8">
             
               Room Block
             
            </mat-grid-tile>
            <mat-grid-tile class="menu2">
                
                 Help Line
               
              </mat-grid-tile>
              <mat-grid-tile class="menu12">
                
                   Search Guest
                
                </mat-grid-tile>
               
                  <mat-grid-tile class="menu13">
                     
                       Guest Reg Card
                    
                    </mat-grid-tile>

</mat-grid-list>