<header>
<mat-grid-list class="action-menu-grid" cols="4" rowHeight="60px">
    <mat-grid-tile class="menu-grid-tiles add" >
       
       <div class="menu-item">

          <i class="material-icons menu-item-icon">add_circle_outline</i>
           
            <span class="menu-item-icon-caption">Add</span>
        </div>
       
    </mat-grid-tile>

    <mat-grid-tile class="menu-grid-tiles edit" >
       
        <div class="menu-item">
 
           <i class="material-icons menu-item-icon">edit</i>
            
             <span class="menu-item-icon-caption">Edit</span>
         </div>
        
     </mat-grid-tile>

     <mat-grid-tile class="menu-grid-tiles view" >
       
        <div class="menu-item">
 
           <i class="material-icons menu-item-icon">visibility</i>
            
             <span class="menu-item-icon-caption">View</span>
         </div>
        
     </mat-grid-tile>


     <mat-grid-tile class="menu-grid-tiles exit" >
       
        <div class="menu-item">
 
           <i class="material-icons menu-item-icon">exit_to_app</i>
            
             <span class="menu-item-icon-caption">Exit</span>
         </div>
        
     </mat-grid-tile>
  
   
  
  </mat-grid-list>
</header>
  <form class="myForm">
      <fieldset class="heading-data"   style="width: 96%;height: 30%;">
          <legend class="heading-desc">New Booking</legend>
    <div class="row">
       
      <div class="column">

          <div class="input-group">
          <mat-form-field color="accent">
              <input matInput [matDatepicker]="bookingDatePicker" [(ngModel)]="bookingDate" name="bookingDate"  readonly>
              <mat-placeholder class="placeholder">Booking Date</mat-placeholder>
              <mat-datepicker-toggle matSuffix [for]="bookingDatePicker" readonly></mat-datepicker-toggle>
              <mat-datepicker #bookingDatePicker1></mat-datepicker>
            </mat-form-field>
          </div>

      </div>
      <div class="column">
          <div class="input-group">
              <mat-form-field color="accent">
                  <input matInput [matDatepicker]="fromDatePicker" [(ngModel)]="bookingFromDate" [min]="fromMinDate" [max]="fromMaxDate" name="bookingFromDate" >
                  <mat-placeholder class="placeholder">From Date</mat-placeholder>
                  <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #fromDatePicker></mat-datepicker>
                </mat-form-field>
              </div>

         
      </div>

      <div class="column">
         
            <div class="input-group">
            <div class="ngx-timepicker-fromtime-field">
                <ngx-timepicker-field class="ngx-timepicker-fromtime" [(ngModel)]="bookingFromTime" name="bookingFromTime" [toggleIcon]="icon"></ngx-timepicker-field>
                <ng-template #icon>
                    <i class="material-icons schedule">schedule</i>
                </ng-template>
            </div>
            </div>

          
              </div>


              <div  class="column">

                 <div class="input-group">
              <mat-form-field color="accent">
                  <input matInput [matDatepicker]="toDatePicker" [(ngModel)]="bookingToDate" [min]="toMinDate" [max]="toMaxDate" name="bookingToDate" >
                  <mat-placeholder class="placeholder">To Date</mat-placeholder>
                  <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #toDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
              </div>

              <div class="column">
         
                  <div class="input-group">
                  <div class="ngx-timepicker-fromtime-field">
                      <ngx-timepicker-field class="ngx-timepicker-fromtime"  [(ngModel)]="bookingToTime" name="bookingToTime" [toggleIcon]="icon"></ngx-timepicker-field>
                      <ng-template #icon>
                          <i class="material-icons schedule">schedule</i>
                      </ng-template>
                  </div>
                  </div>
      
                
                    </div>

                 
    </div>
    <div class="row1">
        <div class="column">
            <div class="input-group">
         
        <mat-label class="guest-label">Regular Guest  </mat-label>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="regularGuest" name="regularGuest">
          <mat-radio-button class="guest-btn"   value="yes">Yes</mat-radio-button>
          <mat-radio-button class="guest-btn"  value="no">No</mat-radio-button>
        </mat-radio-group>
      
        </div>
        </div>
        <div class="column">
            <div class="input-group">
            <mat-form-field color="accent">
                <mat-label class="placeholder">Guesture</mat-label>
                <mat-select>
                  <mat-option *ngFor="let guesture of restDataApiService.guestureListData" [value]="guesture.pcKey">
                    {{guesture.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </div>

        </div>
        <div class="column">
            <div class="input-group">
        <mat-form-field color="accent">
          <input matInput  value="">
          <mat-placeholder class="placeholder">Guest Name</mat-placeholder>
        </mat-form-field>
</div>
        </div>
      
        <div class="column">
            <div class="input-group">
            <mat-form-field color="accent">
                <mat-label class="placeholder">Company Name</mat-label>
                <mat-select>
                  <mat-option *ngFor="let company of restDataApiService.companyListData" [value]="company.debtorCode">
                    {{company.debtorName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </div>

        </div>
        <div class="column">
            <div class="input-group">
            <mat-form-field color="accent">
              <input matInput  value="">
              <mat-placeholder class="placeholder">Phone No</mat-placeholder>
            </mat-form-field>
    </div>
            </div>
            
       
    </div>



    <div class="row">

        <div class="column">
            <div class="input-group">
            <mat-form-field color="accent">
              <input matInput  value="">
              <mat-placeholder class="placeholder">City</mat-placeholder>
            </mat-form-field>
    </div>
            </div>
        <div class="column">
            <div class="input-group">
            <mat-form-field color="accent">
              <input matInput value="">
              <mat-placeholder class="placeholder">Email Id</mat-placeholder>
            </mat-form-field>
    </div>
            </div>
        <div class="column">
            <div class="input-group">
            <mat-form-field color="accent">
                <mat-label class="placeholder">Booking Status</mat-label>
                <mat-select>
                  <mat-option *ngFor="let bookingStatus of restDataApiService.bookingStatusListData" [value]="bookingStatus.arrivalCode">
                    {{bookingStatus.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </div>

        </div>

        <div class="column">
            <div class="input-group">
            <mat-form-field color="accent">
                <mat-label class="placeholder">Room Type</mat-label>
                <mat-select>
                  <mat-option *ngFor="let company of restDataApiService.roomTypeListData" [value]="company.roomTypeCode">
                    {{company.typeName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </div>
        </div>
    
                <div class="column">
                    <div class="input-group">
                    <mat-form-field color="accent">
                      <input matInput value="">
                      <mat-placeholder class="placeholder">No. Of Rooms</mat-placeholder>
                    </mat-form-field>
            </div>
                    </div>
                   
                         
        
    </div>
    <div class="row">
        <div class="column">
            <div class="input-group">
            <mat-form-field color="accent">
              <input matInput  value="">
              <mat-placeholder class="placeholder">Pax</mat-placeholder>
            </mat-form-field>
    </div>
            </div>
        <div class="column">
            <div class="input-group">
            <mat-form-field color="accent">
              <input matInput  value="">
              <mat-placeholder class="placeholder">Booking Id</mat-placeholder>
            </mat-form-field>
    </div>
            </div>
        <div class="column ">
            <div class="input-group">
            <mat-form-field color="accent">
              <input matInput  value="">
              <mat-placeholder class="placeholder">Instructions For</mat-placeholder>
            </mat-form-field>
    </div>
            </div>
            <div class="column">
                <div class="input-group">
                <mat-form-field color="accent">
                  <input matInput  value="">
                  <mat-placeholder class="placeholder">Pickup Details</mat-placeholder>
                </mat-form-field>
        </div>
                </div>
                <div class="column">
                    <div class="input-group">
                    <mat-form-field color="accent">
                      <input matInput  value="">
                      <mat-placeholder class="placeholder">Advance</mat-placeholder>
                      
                    </mat-form-field>
            </div>
                    </div>

                   
    </div>
    <div class="row">
      
        <div class="column column12">
      <button id="submit" style="background: green;color: white;font-weight: bold;border-radius: 10px;font-size: 11px">Save Booking</button>
      </div>
    </div>

    </fieldset>
  </form>
  <div class="row">
    
      <fieldset class="heading-data"  style="width: 96%;height: 30%;">
          <legend class="heading-desc">Today Booking</legend>
          <div class="column column8">  
            <ag-grid-angular 
    style="width: 100%; height: 250px;" 
    class="ag-theme-balham"
    [rowData]="restDataApiService.todayBookingListData" 
    [columnDefs]="columnDefs"
    >
   
</ag-grid-angular>
</div>

</fieldset>

</div>