<mat-grid-list class="action-menu-grid" cols="4" rowHeight="60px">
    <mat-grid-tile class="menu-grid-tiles add" >
       
       <div class="menu-item">

          <i class="material-icons menu-item-icon">add_circle_outline</i>
           
            <span class="menu-item-icon-caption">Add</span>
        </div>
       
    </mat-grid-tile>

    <mat-grid-tile class="menu-grid-tiles edit" >
       
        <div class="menu-item">
 
           <i class="material-icons menu-item-icon">edit</i>
            
             <span class="menu-item-icon-caption">Edit</span>
         </div>
        
     </mat-grid-tile>

     <mat-grid-tile class="menu-grid-tiles view" >
       
        <div class="menu-item">
 
           <i class="material-icons menu-item-icon">visibility</i>
            
             <span class="menu-item-icon-caption">View</span>
         </div>
        
     </mat-grid-tile>


     <mat-grid-tile class="menu-grid-tiles exit" >
       
        <div class="menu-item">
 
           <i class="material-icons menu-item-icon">exit_to_app</i>
            
             <span class="menu-item-icon-caption">Exit</span>
         </div>
        
     </mat-grid-tile>
  
   
  
  </mat-grid-list>

  <form class="myForm">
      <fieldset >
          <legend>New Booking</legend>
    <div class="row">
       
      <div class="column">

          <div class="input-group">
          <mat-form-field color="accent">
              <input matInput [matDatepicker]="bookingDatePicker" [(ngModel)]="bookingDate" name="bookingDate" placeholder="Booking Date">
              <mat-datepicker-toggle matSuffix [for]="bookingDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #bookingDatePicker></mat-datepicker>
            </mat-form-field>
          </div>

      </div>
      <div class="column">
          <div class="input-group">
              <mat-form-field color="accent">
                  <input matInput [matDatepicker]="fromDatePicker" [(ngModel)]="bookingFromDate" name="bookingFromDate" placeholder="From Date">
                  <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #fromDatePicker></mat-datepicker>
                </mat-form-field>
              </div>

         
        <!-- <fieldset class="taxi">
          <legend>Which taxi do you require?</legend>
          <label> <input type="radio" id="taxi_car" value="car"> Car </label>
          <label> <input type="radio" id="taxi_van" value="van"> Van </label>
          <label> <input type="radio" id="taxi_tuk" value="tuktuk"> Tuk Tuk </label>
        </fieldset>
  
        <fieldset class="extras">
          <legend>Extras</legend>
          <label> <input type="checkbox" id="extras_baby" value="baby"> Baby Seat </label>
          <label> <input type="checkbox" id="extras_wheel" value="wheelchair"> Wheelchair Access </label>
          <label> <input type="checkbox" id="extras_tip" value="tip"> Stock Tip </label>
        </fieldset> -->
      </div>

      <div class="column">
         
            <div class="input-group">
            <div class="ngx-timepicker-fromtime-field">
                <ngx-timepicker-field class="ngx-timepicker-fromtime" [(ngModel)]="bookingFromTime" name="bookingFromTime" [toggleIcon]="icon"></ngx-timepicker-field>
                <ng-template #icon>
                    <i class="material-icons schedule">schedule</i>
                </ng-template>
            </div>
            </div>

          
              </div>


              <div  class="column">

                 <div class="input-group">
              <mat-form-field color="accent">
                  <input matInput [matDatepicker]="toDatePicker" [(ngModel)]="bookingToDate" name="bookingToDate" placeholder="To Date">
                  <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #toDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
              </div>

              <div class="column">
         
                  <div class="input-group">
                  <div class="ngx-timepicker-fromtime-field">
                      <ngx-timepicker-field class="ngx-timepicker-fromtime"  [(ngModel)]="bookingToTime" name="bookingToTime" [toggleIcon]="icon"></ngx-timepicker-field>
                      <ng-template #icon>
                          <i class="material-icons schedule">schedule</i>
                      </ng-template>
                  </div>
                  </div>
      
                
                    </div>

                 
    </div>
    <div class="row1">
        <div class="column">
            <div class="input-group">
          <div class="custom-mat-form-field">
        <mat-label class="guest-label">Regular Guest  </mat-label>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button class="guest-btn" value="1">Yes</mat-radio-button>
          <mat-radio-button class="guest-btn" value="2">No</mat-radio-button>
        </mat-radio-group>
        </div>
        </div>
        </div>
        <div class="column">
            <div class="input-group">
            <mat-form-field>
                <mat-label>Guesture</mat-label>
                <mat-select>
                  <mat-option *ngFor="let guesture of restDataApiService.guestureListData" [value]="guesture.pcKey">
                    {{guesture.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </div>

        </div>


    </div>
    
    <div class="row">
      
      <button id="submit">Submit Booking</button>
      
    </div>

    </fieldset>
  </form>