.action-menu-grid{
margin-top: 2px;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
 
   
}



.menu-grid-tiles  {
    border-radius: 5px ;
    color:white;
    font-size: 12px;
    font-family: Verdana, Geneva, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    align-items: center;


    
   
   
  }

  .add {
    background: green;
   
  }

  .edit {
    background:
    #FF9800;
   
  }

  .view {
    background: #AA7439;
   
  }
.exit{
    background: #BF360C;;

}
  .menu-item {

    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.menu-item-icon {
    font-size:24px;
    color:white ;
}

.schedule{
  font-size:16px;
    color:#808080 ;
    font-weight: bold;
}

.menu-item-icon-caption{
    color:white;
     display: block;
}


.caption {
    display: block;
}

.ngx-timepicker-fromtime-field{
  background: center;
padding: .8em 0;
}

.custom-mat-form-field{

padding: .9em;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

fieldset {
  font-family: sans-serif;
  border: 5px solid #1F497D;
  background: #ddd;
  border-radius: 5px;
  padding: 15px;
}

fieldset legend {
  background: #1F497D;
  color: #fff;
  padding: 5px 10px ;
  font-size: 32px;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #ddd;
  margin-left: 20px;
}



.guest-label{
  font-size: 12px;
  font-family: Verdana, Geneva, "Arial Narrow Bold";
  font-weight: bolder;
  margin-bottom: .3em;
}

.guest-btn{
  padding: 1px;
}
.ngx-timepicker-fromtime {
  display: flex;
  align-items: center;
  height: 100%;
  border-bottom: 1px solid rgba(0,0,0,.42);
  cursor: pointer;
  background: center;
}

.control__input{
  background: center !important;
}

.myForm {
  display: flex;
  flex-direction: column;

  border-radius: 3px;
  padding: 1em;
}
.row {
  display: flex;
  justify-content: center;
}

.row1 {
  display: flex;
  justify-content: flex-start;
}
.column {
  display: flex;
  flex-direction: column;
  padding-top: .1em;
  padding-right: 1em;
}
.input-group {
   display: flex;
}
.input-group > label {
  margin-right: 1em; 
  padding: .5em 0;
}
// .myForm input,
// .myForm select {
//   flex: 6; 
//   padding: .5em;
//   margin-bottom: 1em;
// }
.myForm button {
 padding: 1em; 
  background: gray;
  color: white;
  border: 0;
}
.myForm fieldset {
   border: 0; 
}
.taxi > label,
.extras > label {
  display: block;
}