.action-menu-grid{
  margin-top: 2px;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
}

.ngx-timepicker-control__input[_ngcontent-kse-c11]{

  font-weight: bold;
}

.menu-grid-tiles  {
    border-radius: 10px ;
    color:white;
    font-size: 10px;
    font-family: Verdana, Geneva, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    align-items: center;   
  }

  .add {
    background: green;
   
  }

  .edit {
    background:
    #FF9800;
   
  }

  .view {
    background: #AA7439;
   
  }
.exit{
    background: #BF360C;;

}
  .menu-item {

    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.menu-item-icon {
    font-size:24px;
    color:white ;
}

.schedule{
  font-size:16px;
    color:#808080 ;
    font-weight: bold;
}

.menu-item-icon-caption{
    color:white;
     display: block;
}


.caption {
    display: block;
}
.ngx-timepicker-fromtime {
  display: flex;
  align-items: center;
  height: 100%;
  border-bottom: 1px solid rgba(0,0,0,.42);
  cursor: pointer;
  background: center;
}


.ngx-timepicker-fromtime-field{
  background: center;
  color: #1f497d !important;
padding: .8em 0;
font-weight: 900;
}

.custom-mat-form-field{

padding: .9em;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}






.guest-label{
  font-size: 11px;
  font-family: Verdana, Geneva, "Arial Narrow Bold";
  font-weight: bold;
  margin-top: 2em;
  margin-right: .5em;
  color: #1f497d;
}

.guest-btn{
  font-size: 11px;
   padding: 2px;
   margin-top: 1.7em;
}


.control__input{
  background: center !important;
  font-weight: 600 !important;
}

.myForm {
  display: flex;
  flex-direction: column;

  border-radius: 3px;
  padding: .4em;
}

.column-size1{
  flex: 1;
}



.mat-input-element{
  color:#3f51b5 !important;
  font-weight: 600;
}

.input-group {
   display: flex;
}



.input-group8 {
  flex: .8;
  
}
.input-group > label {
  margin-right: 1em; 
  padding: .5em 0;
}
// .myForm input,
// .myForm select {
//   flex: 6; 
//   padding: .5em;
//   margin-bottom: 1em;
// }
.myForm button {
 padding: 1em; 
  background: gray;
  color: white;
  border: 0;
}
.myForm fieldset {
   border: 0; 
}
.taxi > label,
.extras > label {
  display: block;
}