/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
@import '~material-design-icons/iconfont/material-icons.css';

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";


body{

  font-family: Verdana, Geneva, "Arial Narrow Bold" !important;
}


.row {
    display: flex;
    justify-content: center;
  }

  .mat-dialog-container {
    // padding-top: 0 !important;
    // padding-left: 0 !important;
    // padding-right: 0 !important;

}

.padding-right-10{
  padding-right: 10px;
}
.error-dialog-row-body{

  padding-top: 28px;
  padding-right: 10px;
  
}

.error-dialog-row-footer{
float: right;
}

.submit-btn{
  background: green !important;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 11px
}


.add {
  background: green !important;
 
}

.edit {
  background: #FF9800 !important;
}

.view {
  background: #AA7439 !important;
 
}
.exit{
  background: #BF360C !important;

}


.dialog-row-header {
  color: white !important;
  background: #1f497d !important;
  margin: -24px !important;
  padding: 12px !important;
  font-size: 14px;
  display: -webkit-box;
}
.table-header{
  padding: 6px;
  font-size: 15px;

  text-align: center;  
  
  width: 100%;
}


.table-header tr td{
 
  font-size: 14px;
  width: 100%;
  border: 1px solid grey;
}
.table-column{
  border: 1px solid grey;
}

.btn_add{
  margin-top: 0.5em !important;
}

.del {
  width: 30px;
  height: 30px;
}

.del .mat-icon {
    padding: 4px 0;
    line-height: 22px;
}


.dialog-row-body{

  margin-top: 18px !important;
 
 
}



.btn-save{
  background: green;
    color: white;
}

.btn-cancel{
  background: orange;
  color: white;
}
  
  .row1 {
    display: flex;
    justify-content: center;
  }

  .heading-data {
    // font-family: sans-serif;
    border: 1px solid #1F497D  !important; 
    border-radius: 5px;
   
  }
  
  .heading-desc {
    background: #1F497D;
    color: #fff;
    padding: 5px 10px ;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 20px;
  }
  .column {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: .1em;  
    padding-right: .1em;
  }

.column8{
    flex: .8;
   
  }
  .column7{
    flex: .7;
   
  }
  .column6{
    flex: .6;
   
  }
  .column5{
    flex: .5;
   
  }
  
  .column4{
    flex: .4;
   
  }
  
  .column3{
    flex: .3;
   
  }

  .column2{
    flex: .2;
   
  }

  .mat-focused .placeholder {
    color: #FF4081;
   // font-size: 17px !important;
   
}

::ng-deep .mat-form-field-label{
  color:rgb(196, 20, 20) !important;
}

  .placeholder{
    font-size: 11px;
  //  font-family: Verdana, Geneva, "Arial Narrow Bold";
font-weight: 600;
    
    color: #1f497d;
  }

  .column1{
    flex: .1;
   
  }

  .column15{
    flex: .15;
  }
  
  .column12{
    flex: .12;
   
  }
  